/*------------------------------------------------------------------
TABLE OF CONTENTS
.................
1. CONTENT
2. SPOTLIGHT LAYOUT
3. SPOTLIGHT BACKGROUNDS
4. SPOTLIGHT CONTENT
5. SPOTLIGHT PAGINATION
6. WIDGET CLOUD
7. GENERIC CONTENT OVERLAY
8. HOW TO GET INVOLVED CONTENT OVERLAY
9. MEET THE SPECIALISTS CONTENT OVERLAY
------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. CONTENT
------------------------------------------------------------------*/
div#content
{
 position           : relative;
 min-height         : 570px;
 z-index            : 3;
}

div#content dl.intro
{
 float              : left;
 padding-right      : 20px;
 width              : 380px;
}


/*------------------------------------------------------------------
2. SPOTLIGHT LAYOUT
------------------------------------------------------------------*/
ul.blog_spotlights_arranged
{
 clear              : both;
 left               : 15px;
 margin             : 0 auto;
 position           : relative;
 width              : 950px;
}

ul.blog_spotlights_arranged li
{
 float              : left;
 width              : 190px;
}

div.generic_spotlight_wrapper
{
 clear              : both;
 margin             : 0 auto;
 padding            : 20px 0;
 width              : 600px;
}

div.outer_top_wrapper
{
 background-position: top-left;
 position           : relative;
 zoom               : 1;
}

div.outer_top_left
{
 height             : 100%;
 left               : 0px;
 margin-left        : -28px;
 position           : absolute;
 top                : 0;
 width              : 28px;
}

div.outer_bottom_wrapper
{
 height             : 34px;
}

div.outer_bottom_left
{
 height             : 34px;
 margin-left        : -28px;
 position           : relative;
 width              : 28px;
}


/*------------------------------------------------------------------
3. SPOTLIGHT BACKGROUNDS
------------------------------------------------------------------*/
/* Business Economy */
div#hybrid-debate-business-economy div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/business_spotlight/bg_business_spotlight.png) no-repeat top right;
}

div#hybrid-debate-business-economy div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/business_spotlight/bg_business_spotlight.png) no-repeat top left;
}

div#hybrid-debate-business-economy div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/business_spotlight/bg_business_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-business-economy div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/business_spotlight/bg_business_spotlight.png) no-repeat bottom left
}

/* Environemnt */
div#hybrid-debate-environment div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/environment_spotlight/bg_environment_spotlight.png) no-repeat top right;
}

div#hybrid-debate-environment div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/environment_spotlight/bg_environment_spotlight.png) no-repeat top left;
}

div#hybrid-debate-environment div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/environment_spotlight/bg_environment_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-environment div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/environment_spotlight/bg_environment_spotlight.png) no-repeat bottom left
}

/* Families Lifestyle */
div#hybrid-debate-families-lifestyle div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/families_spotlight/bg_families_spotlight.png) no-repeat top right;
}

div#hybrid-debate-families-lifestyle div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/families_spotlight/bg_families_spotlight.png) no-repeat top left;
}

div#hybrid-debate-families-lifestyle div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/families_spotlight/bg_families_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-families-lifestyle div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/families_spotlight/bg_families_spotlight.png) no-repeat bottom left
}

/* Generic */
div#hybrid-debate-generic div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/generic_spotlight/bg_generic_spotlight.png) no-repeat top right;
}

div#hybrid-debate-generic div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/generic_spotlight/bg_generic_spotlight.png) no-repeat top left;
}

div#hybrid-debate-generic div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/generic_spotlight/bg_generic_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-generic div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/generic_spotlight/bg_generic_spotlight.png) no-repeat bottom left
}

/* Politics Energy */
div#hybrid-debate-politics-energy div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/politics_spotlight/bg_politics_spotlight.png) no-repeat top right;
}

div#hybrid-debate-politics-energy div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/politics_spotlight/bg_politics_spotlight.png) no-repeat top left;
}

div#hybrid-debate-politics-energy div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/politics_spotlight/bg_politics_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-politics-energy div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/politics_spotlight/bg_politics_spotlight.png) no-repeat bottom left
}

/* Urban Planning */
div#hybrid-debate-urban-planning div.outer_top_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/urban_planning_spotlight/bg_urban_planning_spotlight.png) no-repeat top right;
}

div#hybrid-debate-urban-planning div.outer_top_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/urban_planning_spotlight/bg_urban_planning_spotlight.png) no-repeat top left;
}

div#hybrid-debate-urban-planning div.outer_bottom_wrapper
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/urban_planning_spotlight/bg_urban_planning_spotlight.png) no-repeat bottom right;
}

div#hybrid-debate-urban-planning div.outer_bottom_left
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/urban_planning_spotlight/bg_urban_planning_spotlight.png) no-repeat bottom left
}


/*------------------------------------------------------------------
4. SPOTLIGHT CONTENT
------------------------------------------------------------------*/
div.spotlight_content
{
 padding            : 20px 28px 0 0;
}

div.blog_spotlight br
{
 clear              : both;
}

div.blog_spotlight h3
{
 height             : 12px;
 overflow           : hidden;
 text-indent        : -5000px;
 text-transform     : uppercase;
}

div#hybrid-debate-business-economy h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/business_spotlight/h3_business_spotlight.png) no-repeat top left;
 width              : 125px;
}

div#hybrid-debate-environment h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/environment_spotlight/h3_environment_spotlight.png) no-repeat top left;
 width              : 81px;
}

div#hybrid-debate-families-lifestyle h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/families_spotlight/h3_families_spotlight.png) no-repeat top left;
 width              : 126px;
}

div#hybrid-debate-generic h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/generic_spotlight/h3_generic_spotlight.png) no-repeat top left;
 width              : 91px;
}

div#hybrid-debate-politics-energy h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/politics_spotlight/h3_politics_spotlight.png) no-repeat top left;
 width              : 108px;
}

div#hybrid-debate-urban-planning h3
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/urban_planning_spotlight/h3_urban_planning_spotlight.png) no-repeat top left;
 width              : 97px;
}

div.blog_spotlight img
{
 float              : left;
 margin             : 15px 15px 0 0;
}

div.blog_spotlight.draggable div.spotlight_content img
{
 margin-bottom      : 5px;
}

div.blog_spotlight p
{
 font-size          : 0.9em;
 font-weight        : 400;
 word-wrap          : break-word;
}

div.blog_spotlight.static div.spotlight_content p
{
 background         : #fff;
 clear              : both;
 min-height         : 80px;
}

div.blog_spotlight.draggable div.spotlight_content p
{
 margin-top         : 7px; 
}

div.blog_spotlight ol
{

 clear              : both;
 height             : 130px;
 margin-bottom      : 10px;
}

div.blog_spotlight#hybrid-debate-generic ol
{
 margin-top:28px;
}

div.blog_spotlight ol li
{
 background         : #f1f1f1 url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_blog_spotlight_post_list.gif) repeat-x top left;
 font-size          : 0.9em;
 font-weight        : 700;
 overflow           : hidden; 
 padding            : 0;
 white-space        : nowrap;
 width              : 100%;
}

div.blog_spotlight ol li.first_child
{
 border-top         : 1px solid #c8c8c8;
}

div.blog_spotlight ol li.last_child
{
 border-bottom      : 1px solid #c8c8c8;
}

div.blog_spotlight ol li.alternate
{
 background         : #fff;
}

div.blog_spotlight ol li a
{
 display            : block;
 padding            : 5px 0;
 width              : 100%;
}

div#hybrid-debate-families-lifestyle ol li a:hover
{
 background-color   : #f0cfac;
}

div#hybrid-debate-environment ol li a:hover
{
 background-color   : #F3EDA3;
}

div#hybrid-debate-politics-energy ol li a:hover
{
 background-color   : #edc1b6;
}

div#hybrid-debate-business-economy ol li a:hover
{
 background-color   : #d0e8b2;
}

div#hybrid-debate-urban-planning ol li a:hover
{
 background-color   : #e0e797;
}


/*------------------------------------------------------------------
5. SPOTLIGHT PAGINATION
------------------------------------------------------------------*/
div.paginated_content_wrapper
{
 min-height         : 167px;
}

div.paginated_content_wrapper a.rss
{
 color              : #ccc;
 float:left;
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_rss_out.gif) no-repeat center left;
 padding-left       : 20px;
}

div.paginated_content_wrapper a.rss:hover
{
 color              : #ff9933;
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_rss_over.gif) no-repeat center left;
}

div.paginated_content_wrapper a.pagination.prev,
div.paginated_content_wrapper a.pagination.next
{
 cursor             : pointer;
 display            : block;
 float              : right;
 height             : 6px;
 overflow           : hidden;
 margin-top         : 7px;
 text-indent        : -5000px;
 width              : 11px;
}

div.paginated_content_wrapper a.pagination.prev
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_paginate_prev.gif) no-repeat top left;
}

div.paginated_content_wrapper a.pagination.prev:hover
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_paginate_prev.gif) no-repeat top right;
}

div.paginated_content_wrapper a.pagination.next
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_paginate_next.gif) no-repeat top left;
}

div.paginated_content_wrapper a.pagination.next:hover
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_paginate_next.gif) no-repeat top right;
}


/*------------------------------------------------------------------
6. WIDGET CLOUD
------------------------------------------------------------------*/
div#widget_cloud_container
{
 clear              : both;
 min-height         : 400px;
 position           : relative;
}

div.level_1
{
 left               : 450px;
 position           : absolute;
 top                : -10px;
 width              : 435px;
}

div.level_2
{
 left               : 95px;
 position           : absolute;
 top                : 15px;
 width              : 390px;
}

div.level_3
{
 left               : 360px;
 position           : absolute;
 top                : 85px;
 width              : 345px;
}

div.level_4
{
 left               : 30px;
 position           : absolute;
 top                : 55px;
 width              : 315px;
}

div.level_5
{
 left               : 745px;
 position           : absolute;
 top                : 10px;
 width              : 265px;
}


/*------------------------------------------------------------------
7. GENERIC CONTENT OVERLAY
------------------------------------------------------------------*/
div.overlay_layer
{
 left               : -7px;
 position           : absolute;
 top                : 0px;
 z-index            : 32000;
}

div.preloader,
div.content_overlay
{
 left               : 17px;
 position           : absolute;
 top                : 10px;
 width              : 976px;
 z-index            : 32000;
}

div.content_overlay_subwrapper
{
 background         : #ededed url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_content_overlay.gif) no-repeat bottom left;
}

div.content_overlay_base
{
 background         : transparent url(http://www.thehybriddebate.com/site-media/feed-media/images/content/bg_content_overlay_base.png) no-repeat bottom left;
 height             : 6px;
}

div.preloader
{
 background         : transparent url(http://www.thehybriddebate.com/site-media/feed-media/images/content/preloader.gif) no-repeat center center;
 height             : 452px;
}

div.content_overlay a.close
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/close.gif) no-repeat top left;
 cursor             : pointer;
 float              : right;
 height             : 6px;
 right              : 15px;
 overflow           : hidden;
 position           : absolute;
 text-indent        : -5000px;
 top                : 15px;
 width              : 7px;
}

div.content_overlay h2
{
 margin-top         : 25px;
}

div.content_overlay img
{
 float              : left;
}

div.content_overlay p.intro
{
 border-bottom      : 1px solid #000;
 font-size          : 1.2em;
 font-weight        : 700;
 padding            : 15px 0;
}

div.scroll_box
{
 height             : 250px;
 margin             : 15px 0;
 overflow           : auto;
 overflow-x         : hidden;
}

div.scroll_box p
{
 padding-right      : 20px;
} 

div.content_overlay .scroll_box a
{
 color              : #5b88b5;
 font-weight        : 400;
 text-decoration    : underline;
}

div.content_overlay h2,
div.content_overlay p.intro,
div.scroll_box
{
 clear              : right;
 float              : right;
 margin-right       : 40px;
 width              : 410px;
}

div.content_overlay div.scroll_box dt,
div.content_overlay div.scroll_box dt a
{
 display            : block;
 font-size          : 1.2em;
 font-weight        : 700;
 margin-top         : 15px;
 text-decoration    : none;
}


/*------------------------------------------------------------------
8. HOW TO GET INVOLVED CONTENT OVERLAY
------------------------------------------------------------------*/
div#sub_wrapper h2
{
 clear              : none;
 float              : none;
 margin-right       : 0;
 width              : auto;
}

div#sub_wrapper p
{
 border-bottom      : none;
 float              : right;
 padding-right      : 30px;
 width              : 460px;
}

div#sub_wrapper p.intro
{
 float              : left;
 font-size          : 1.2em;
 font-weight        : 700;
 padding            : 5px 0;
 width              : 400px;
}

div.content_overlay#how_to_get_involved
{
 background         : #ededed;
}

div.content_overlay#how_to_get_involved #sub_wrapper
{
 padding-bottom     : 25px;
}

div.content_overlay#how_to_get_involved h2,
div.content_overlay#how_to_get_involved p.intro
{
 margin-left        : 40px;
}

div.content_overlay#how_to_get_involved ol
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/how_to_get_involved/how_to_get_involved_graphic.jpg) no-repeat bottom left;
 min-height         : 296px;
 width              : 976px;
}

div.content_overlay#how_to_get_involved ol li
{
 float              : left;
 padding            : 10px 0;
 width              : 325px;
}

div.get_involved_spotlight
{
 margin             : 0 auto;
 width              : 266px;
}

div.get_involved_spotlight div.t
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/how_to_get_involved/how_to_get_involved_corners.png) no-repeat top left;
 font-size          : 1%;
 height             : 3px;
}

div.get_involved_spotlight div.c
{
 background         : #fff;
 padding            : 7px 20px;
}

div.get_involved_spotlight div.b
{
 background         : url(http://www.thehybriddebate.com/site-media/feed-media/images/content/how_to_get_involved/how_to_get_involved_corners.png) no-repeat bottom left;
 font-size          : 1%;
 height             : 3px;
}

span.number
{
 color              : #fff;
 font-size          : 2.2em;
 font-weight        : 700;
 float              : left;
 padding-left       : 10px;
}

div.content_overlay#how_to_get_involved ol li ol,
div.content_overlay#how_to_get_involved ol li ul
{
 clear              : both;
 padding            : 10px 0;
 background         : none;
 width              : auto;
}

div.content_overlay#how_to_get_involved ol li ol
{
 min-height         : 0;
}

div.content_overlay#how_to_get_involved ol li ol li,
div.content_overlay#how_to_get_involved ol li ul li
{
 float              : none;
 padding            : 5px;
 width              : auto; 
}

div.content_overlay#how_to_get_involved ol li ul li
{
 list-style-type    : disc;
 list-style-position: inside;
 padding            : 0;
}

div.content_overlay#how_to_get_involved ol li ol li
{
 list-style-type    : decimal;
 list-style-position: inside;
}


/*------------------------------------------------------------------
9. MEET THE SPECIALISTS CONTENT OVERLAY
------------------------------------------------------------------*/
div#meet_the_specialists
{
 background         : #fff;
 left               : -10px;
 min-height         : 550px;
 padding-bottom     : 10px;
 width              : 1030px;
}

div#meet_the_specialists div.bloggers_scroll_pane
{
 font-size          : 1em;
}

div.content_overlay#meet_the_specialists h2,
div.content_overlay#meet_the_specialists p.intro
{
 margin-left        : 23px;
}

div.content_overlay#meet_the_specialists dl.intro dt,
div.content_overlay#meet_the_specialists dl.intro dd
{
 float              : left;
 width              : 50%;
}

div.content_overlay#meet_the_specialists img
{
 float              : none;
}

div.content_overlay#meet_the_specialists dd.image
{
 float              : none;
 padding            : 0 0 10px 0;
}

div.content_overlay#meet_the_specialists ul.bloggers
{
 padding-top        : 10px;
}


/*------------------------------------------------------------------
10. NEWS
------------------------------------------------------------------*/
a.news_link
{
 width              : 350px;
}