/*------------------------------------------------------------------
TABLE OF CONTENTS
.................
1. GENERAL
2. VIEW SWITCHER
3. SPOTLIGHT BACKGROUNDS
4. SPOTLIGHT CONTENT
5. SPOTLIGHT PAGINATION
6. WIDGET CLOUD
7. GENERIC CONTENT OVERLAYS
8. HOW TO GET INVOLVED CONTENT OVERLAY
9. MEET THE SPECIALISTS CONTENT OVERLAY

NOTES: This stylesheet can be dropped when IE6 support is no longer required.
------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. GENERAL
------------------------------------------------------------------*/
* html div#header h1 a
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/layout/logo.png', sizingMethod='scale');
}

* html  div#content
{
 height             : 570px;
}

* html div.outer_top_wrapper
{
 overflow-y         : hidden;
}

* html div.outer_top_left
{
 height             : 1600px;
}


/*------------------------------------------------------------------
2. VIEW SWITCHER
------------------------------------------------------------------*/
*html div.view_switcher div.t
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/layout/bg_view_switcher_t.png', sizingMethod='scale');
}

*html  div.view_switcher div.b
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/layout/bg_view_switcher_b.png', sizingMethod='scale');
}

*html div.view_switcher ul li.arranged a
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/layout/bg_icon_arranged.png', sizingMethod='crop');
}

*html div.view_switcher ul li.cloud a
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/layout/bg_icon_cloud.png', sizingMethod='crop');
}


/*------------------------------------------------------------------
3. SPOTLIGHT BACKGROUNDS
------------------------------------------------------------------*/
/* Business Economy */
* html div#hybrid-debate-business-economy div.outer_top_wrapper
{
 background         : url(../images/content/business_spotlight/bg_business_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-business-economy div.outer_top_left
{
 background         : url(../images/content/business_spotlight/bg_business_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-business-economy div.outer_bottom_wrapper
{
 background         : url(../images/content/business_spotlight/bg_business_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-business-economy div.outer_bottom_left
{
 background         : url(../images/content/business_spotlight/bg_business_spotlight.gif) no-repeat bottom left
}

/* Environemnt */
* html div#hybrid-debate-environment div.outer_top_wrapper
{
 background         : url(../images/content/environment_spotlight/bg_environment_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-environment div.outer_top_left
{
 background         : url(../images/content/environment_spotlight/bg_environment_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-environment div.outer_bottom_wrapper
{
 background         : url(../images/content/environment_spotlight/bg_environment_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-environment div.outer_bottom_left
{
 background         : url(../images/content/environment_spotlight/bg_environment_spotlight.gif) no-repeat bottom left
}

/* Families Lifestyle */
* html div#hybrid-debate-families-lifestyle div.outer_top_wrapper
{
 background         : url(../images/content/families_spotlight/bg_families_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-families-lifestyle div.outer_top_left
{
 background         : url(../images/content/families_spotlight/bg_families_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-families-lifestyle div.outer_bottom_wrapper
{
 background         : url(../images/content/families_spotlight/bg_families_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-families-lifestyle div.outer_bottom_left
{
 background         : url(../images/content/families_spotlight/bg_families_spotlight.gif) no-repeat bottom left
}

/* Generic */
* html div#hybrid-debate-generic div.outer_top_wrapper
{
 background         : url(../images/content/generic_spotlight/bg_generic_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-generic div.outer_top_left
{
 background         : url(../images/content/generic_spotlight/bg_generic_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-generic div.outer_bottom_wrapper
{
 background         : url(../images/content/generic_spotlight/bg_generic_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-generic div.outer_bottom_left
{
 background         : url(../images/content/generic_spotlight/bg_generic_spotlight.gif) no-repeat bottom left
}

/* Politics Energy */
* html div#hybrid-debate-politics-energy div.outer_top_wrapper
{
 background         : url(../images/content/politics_spotlight/bg_politics_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-politics-energy div.outer_top_left
{
 background         : url(../images/content/politics_spotlight/bg_politics_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-politics-energy div.outer_bottom_wrapper
{
 background         : url(../images/content/politics_spotlight/bg_politics_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-politics-energy div.outer_bottom_left
{
 background         : url(../images/content/politics_spotlight/bg_politics_spotlight.gif) no-repeat bottom left
}

/* Urban Planning */
* html div#hybrid-debate-urban-planning div.outer_top_wrapper
{
 background         : url(../images/content/urban_planning_spotlight/bg_urban_planning_spotlight.gif) no-repeat top right;
}

* html div#hybrid-debate-urban-planning div.outer_top_left
{
 background         : url(../images/content/urban_planning_spotlight/bg_urban_planning_spotlight.gif) no-repeat top left;
}

* html div#hybrid-debate-urban-planning div.outer_bottom_wrapper
{
 background         : url(../images/content/urban_planning_spotlight/bg_urban_planning_spotlight.gif) no-repeat bottom right;
}

* html div#hybrid-debate-urban-planning div.outer_bottom_left
{
 background         : url(../images/content/urban_planning_spotlight/bg_urban_planning_spotlight.gif) no-repeat bottom left
}


/*------------------------------------------------------------------
4. SPOTLIGHT CONTENT
------------------------------------------------------------------*/
* html div.blog_spotlight img
{
 margin-right       : 0;
}

* html div.blog_spotlight.draggable div.spotlight_content img
{
 margin-right       : 15px;
}

* html div.blog_spotlight.static div.spotlight_content p
{
 height             : 80px;
}

* html div#hybrid-debate-business-economy h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/business_spotlight/h3_business_spotlight.png', sizingMethod='scale');
}

* html div#hybrid-debate-environment h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/environment_spotlight/h3_environment_spotlight.png', sizingMethod='crop');
}

* html div#hybrid-debate-generic h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/generic_spotlight/h3_generic_spotlight.png', sizingMethod='crop');
}

* html div#hybrid-debate-families-lifestyle h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/families_spotlight/h3_families_spotlight.png', sizingMethod='crop');
}

* html div#hybrid-debate-politics-energy h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/politics_spotlight/h3_politics_spotlight.png', sizingMethod='crop');
}

* html div#hybrid-debate-urban-planning h3
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/urban_planning_spotlight/h3_urban_planning_spotlight.png', sizingMethod='crop');
}


/*------------------------------------------------------------------
5. SPOTLIGHT PAGINATION
------------------------------------------------------------------*/
* html div.paginated_content_wrapper
{
 height             : 167px;
}


/*------------------------------------------------------------------
6. WIDGET CLOUD
------------------------------------------------------------------*/
*html div#widget_cloud_container
{
 height             : 400px;
}

/*------------------------------------------------------------------
7. GENERIC CONTENT OVERLAYS
------------------------------------------------------------------*/
* html div.content_overlay
{
 padding-bottom     : 0;
}

* html  div.content_overlay_base
{
 background         : none;
 filter             : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/site-media/feed-media/images/content/bg_content_overlay_base.png', sizingMethod='scale');
 height             : 2px;
}

* html div.content_overlay h2,
* html div.content_overlay p.intro,
* html div.content_overlay div.scroll_box
{
 margin-right       : 20px;
}


/*------------------------------------------------------------------
8. HOW TO GET INVOLVED CONTENT OVERLAY
------------------------------------------------------------------*/
* html div.content_overlay#how_to_get_involved div#sub_wrapper p
{
 margin-left        : 20px;
}

* html div.content_overlay#how_to_get_involved p.intro
{
 margin-left        : 0;
}

* html div.get_involved_spotlight div.t
{
 background         : url(../images/content/how_to_get_involved/how_to_get_involved_top.gif) no-repeat top left;
}

* html div.get_involved_spotlight div.b
{
 background         : url(../images/content/how_to_get_involved/how_to_get_involved_bottom.gif) no-repeat top left;
}

* html div.content_overlay#how_to_get_involved ol
{
 height            : 296px;
}

* html div.content_overlay#how_to_get_involved ol li ol
{
 height            : 0;
}


/*------------------------------------------------------------------
9. MEET THE SPECIALISTS CONTENT OVERLAY
------------------------------------------------------------------*/
* html div#meet_the_specialists
{
 height             : 550px;
}