/*
Peace Corps Teen Site
globals_pea_teen.css

description:
Removes default browser styling on many elements and creates
more general, cross-browser rules.

version: 2007-04
author: Cobey Potter, Threespot

copyright: 2007
-------------------------------------------------------- */

/*
Table of Contents
	- init
	- clearing
	- replace
	- general
*/


/*------- Init -------- */


/* Clear all elements of padding and margin, position them relative, and assign base font */
* { 
	margin:0px;	
	padding:0px;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
}

/* Assign master bkg to html doc, center the body, position the html statically due to ie6 error with scrolling */
html {
	position:static;
	padding-bottom:40px;
	background:#603001 url("http://www.peacecorps.gov/teens/images/backgrounds/bg.jpg") 0 164px repeat-x;
	text-align:center;
	font-size:62.5%;
}


/*------- clearing -------- */

.clear { 
	clear:both;
}

	h3.clear { 
		padding-top:40px !important;
	}

/*------- replace -------- */

.replace,
.blurb-link,
.vol_list dd a{ 
	overflow:hidden;
	text-indent:-10000px;
}

/*------- general -------- */


body {
	margin:0 auto;
	padding:0 8px;
	width:750px;
	background:#fff url("http://www.peacecorps.gov/teens/images/backgrounds/bg_bottom_global.jpg") no-repeat 161px bottom;
	border-bottom:2px solid #2B1500;
	text-align:left;	
}

	body.special {
		background:#fff url("http://www.peacecorps.gov/teens/images/backgrounds/bg_bottom_why.jpg") no-repeat bottom;
	}

.ans_yes, 
.ans_no, 
.ans_blank{
	margin-top:10px;
	height:20px;
}
		
.ans_yes {
	border:2px #396 solid;
	background-color:#6C9;
}

.ans_no {
	border:2px solid #F00;
	background-color:#C66;
	color:#ddd;
}

.ans_blank {
	border:2px #F00 solid;
	background-color:#FCC;
}
		
.free {list-style:none;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	