/*
Peace Corps Teen Site
layout_pea_teen.css

description:
Removes default browser styling on many elements and creates
more general, cross-browser rules.

version: 2007-04
author: Cobey Potter, Threespot

copyright: 2007
-------------------------------------------------------- */

/*
Table of Contents
	- header
	- container
	- content
	- content_nav
	- general content elements
*/

/*------- header -------- */

#header {
	width:750px;
	height:109px;
	background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_top_global.jpg") no-repeat;
}

	#header a {
		display:block;
		width:385px;
		height:78px;
		top:21px;
		background:url("http://www.peacecorps.gov/teens/images/global/logo.gif") no-repeat;
	}

/*------- container -------- */

	#section #container{
		padding:0 0 55px;
		background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_content_bottom.jpg") no-repeat 250px bottom; 
	}

	#section.recipe-list #container {
		padding:0 0 20px;
		background:transparent;
	}
	
	.special #container {
		margin:0 0 55px;
		background:#E7F5FF;
	}
	
/*------- content -------- */

#content {
	margin-left:250px;
	padding:35px 25px 5px 18px;	
	min-height:550px;
	color: #666;
	font-size:1.2em;
	line-height:20px;
}
	.index #content{
		min-height:170px;
		padding-top:13px;
	}

	#section #content,
	.special #content {
		padding:0 0 5px;
		font-size:1.1em;
		line-height:17px;
		background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_content_top.jpg") no-repeat 0 200px;
	}

	.recipe-list #content {background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_recipes_main.jpg") no-repeat 0 230px !important;}
	.page #content {background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_content_top.jpg") no-repeat 0 0px !important;}
	.recipe #content{background:url("http://www.peacecorps.gov/teens/images/backgrounds/bg_recipes_main.jpg") no-repeat 0 250px !important;}

	.special #content {
		background:none;
		background-color:#fff;
	}

/*------- headers -------- */
	
h1 {
	padding:8px 0 15px;	
	color:#012f5b;
	font-weight:normal;
	font-size:2.4em;
	font-family: Georgia, "Times New Roman", Times, serif;	
}

	#section h1 {
		overflow:hidden;
		text-indent:-10000px;
	}
	
	#section.page h1{
		padding:32px 0 8px 25px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:2em;
		color:#7f2700;
		overflow:visible;
		text-indent:0;
	}
	
		#section.page h1#hdr_alt {
			padding-left:45px;
			color:#df9f10;
			background:url("http://www.peacecorps.gov/teens/images/titles/title_arrow.gif") no-repeat 25px 35px;
		}
		
	.front h1 {
		width:500px;
		height:69px;
		margin-top:-5px;	
	}
	
	.inspired h1 {background:url("/teens/images/titles/title_get_inspired.gif") no-repeat;}	
	.involved h1 {background:url("/teens/images/titles/title_get_involved.gif") no-repeat;}	
	.ready h1 {background:url("/teens/images/titles/title_get_ready.gif") no-repeat;}	
	.loud h1 {background:url("/teens/images/titles/title_get_loud.gif") no-repeat;}	
	.more h1 {background:url("/teens/images/titles/title_get_more.gif") no-repeat;}
		
	.special h1 {
		position:absolute;
		top:240px;
		right:25px;
		width:281px;
		height:69px;		
		background:url("http://www.peacecorps.gov/teens/images/why/title_whypc.gif") no-repeat;
		overflow:hidden;
		text-indent:-10000px;
	}

h1.no_hdr  {background:none; }	
	
h3 {
	padding:9px 0 0;
	margin:20px 35px 0 25px;
	color:#7f2700;
	font-size:1.5em;
	text-transform:uppercase;
}
	
	h3.list_title {
		border-top:1px solid #ac8156;
		text-transform:none;
	}
	
	h3.loud_sub {
		margin-top:-7px;
	}
		
	.singular h3,
	.vol_list h3 {
		padding:9px 0 0;
		margin:0;
		color:#603001;
		font-size:1.2em;	
		text-transform:none;
	}
			
	.vol_list h3 {
		padding:9px 0 7px;
		font-size:1.4em;
	}

	#poll h3,
	h4#poll_taken {
		margin:0 !important;
		width:100%;
	}
	
h4 {
	padding:5px 40px 5px 25px;
	font-size:1.1em;
	color:#462402;
}
	.singular h4 {
		clear:left;
		padding:9px 0 0;
		margin:0;
	}

	h4.hdr_alt {
		padding:0 20px 5px 45px;
		margin-top:-5px;
	}

/*------- content_nav -------- */

.content_nav {
	padding:10px 0 0 25px;
	list-style:none;
	width:435px;
}
	
	.right_bound {	
		width:450px;
		font-weight:bold;
	}
	
	.special .content_nav {padding-bottom:15px;}
		
	.content_nav li {
		display:inline;
		padding:0 0 0 3px;
		border-left:1px solid #666;
		line-height:1.6em;
	}

		
		.content_nav li.first {	
			padding-left:0;
			border:0px;
		}
		
		.content_nav li.spacer {	
			margin-left:305px;
		}
		
		
			
		.content_nav li a {
			color:#de9e10;
			font-weight:bold;
			text-decoration:none;
		}
		
		.content_nav li a:hover {text-decoration:underline;}

			.special .content_nav li a {color:#3585be;}

/*------- general content elements -------- */
			
img.header_img {
	width:500px;
	overflow:hidden;
}
	
p {padding:5px 0;}
	
	#section p{padding:5px 40px 5px 25px;}
	
	.special p {padding:5px 40px 10px 25px;}
	
	p.warn {
		color:#933;
		font-weight:bold;
	}
	
	p a, 
	#content ul a{
		font-weight:bold;
		color:#de9e10;
	}
		
	a.blurb-link {
		float:right;
		display:block;
		margin:10px -20px 0 0;
		padding:0 0 10px;
		width:90px;
		height:12px;
		background:url("http://www.peacecorps.gov/teens/images/buttons/find_out_more.gif") no-repeat;
	}

	a span {font-style:italic;}
	
	.callout-link a img{
		margin:8px 25px;
		border:0px;
	}
	
div.spotlight {
	border-top:1px solid #e8d9ca;
}
	
	

		
	
	
	
	
	