/* CSS Document */


#promos, 
.recipe_nav,
#main_nav,
#secondary_nav,
#tertiary_nav,
.header_img,
.spotlight.singular img,
.content-header{
	display:none;
}

#content {
	font-size:11px;
}

#content p{width:500px;}

.recipe h2, 
.recipe h3, 
.recipe p  {display:none;}

.recipe .spotlight h3,
.recipe .spotlight p {display:block;} 