/* This file is css for the cropper page, used across partners */

/* crop images */
#divCropperIntro p {padding:0;margin:0;position:relative; top:5px;left:3px;}
#divLoadingInfo {text-align:center;margin-bottom: 2em;}
#divCroppers {width: 100%; position: relative;}

.imageframeandcontrols {display:block;width: 99.5%; border: solid 1px #ddd;position:relative; float:left;margin-bottom: 1em; min-height:250px;overflow:hidden;background:white; z-index: 90 }
.imageframeandcontrolspreview { width: 916px; border: solid 1px #ddd; position:absolute; overflow:hidden; background:white;}

.imageframe {float:left;background:white!important; color:#000048;border:solid 1px #ccc;padding:10px!important; margin:15px 20px;}
.imageframeandcontrolspreview .imageframe {float:left;background:white!important; color:#000048;border:solid 1px #ccc;padding:10px!important; margin:15px 20px;}

.divFrameWrapper { width:956px; margin:0 auto; }  
.imageframeandcontrolspreview .divFrameWrapper {width: auto; height: auto !important; min-height:250px; height:100px;}
* html .landscape .divFrameWrapper { height: 315px;}
* html .portrait .divFrameWrapper { height: 400px;}
* html #divCroppers .divFrameWrapper { height:1px;}

p.croppernumber {position: relative; padding: 1px 0 1px 0;margin:3px; color: black; background:#f9f9f9;}
p.croppernumber span.number {background:#c8c3c3; width:22px; text-align: center;padding: 0.2em 0.4em;}
p.croppernumber span.quantity {background:none;padding:0;}
div.imagewrapper {position:relative; float:left; overflow:hidden; cursor:pointer; background-color:white;}
div.imagewrapper.imageerror {width:240px; height:125px;padding-top:55px; text-align:center;}
div.imagewrapper img {position:absolute;background:black;}
div.cropper {color:white;position:absolute;text-align:center;border:solid 1px #999;font-weight:bold}

div.croppermask {background:#C8C3C3;z-index:97; position:absolute;-moz-opacity:0.8!important;filter:alpha(opacity="80")!important;opacity:0.8!important;overflow:hidden;}
div.croppermask2 {background:#C8C3C3;z-index:97; position:absolute;}

div.dragger {z-index:98;-moz-opacity:0!important;filter:alpha(opacity="0")!important;opacity:0!important; background:white;
	cursor: move;}


.scrollcontrol {margin-top: 120px; width: 358px; border: solid 1px #e3e3e3; height: 33px; 
	padding: 20px 5px 5px 15px; position: relative;margin-left: 5px;}
* html .scrollcontrol { margin-top: 10px !important; }
html>/**/body .scrollcontrol {margin-top: 100px; }



div.zoomslidertrack {width: 188px; height:14px; position:relative; left: 18px;
	background:url(../images/slidetrack.png) bottom left no-repeat;}
span.zoomHelpSmall {position: absolute; top: 1.57em; left: 8px; _top: 2em;}
span.zoomHelpBig  {position: absolute; top: 1.58em; right: 134px;  _top: 2em;}
div.slider {width: 16px; height: 18px; cursor: pointer;position: relative; top: 6px;}
.sliderinfo {border-left: solid 1px #e3e3e3;position: absolute;right: 0; top: 0; width: 123px;height: 60px;text-align: center;}
.zoompercent {position: relative; top: 20px;}

/* IE6&7 */
div.imagecontrols { margin-top: 20px;}
/* Everything else*/
html>/**/body div.imagecontrols {position:relative; float:right;margin-right: 104px/*110px*/; margin-top:40px; font-size: 1em;width: 395px;
	z-index:95;}


div.imagecontrols li a {display: block;height: 30px;padding-top:50px; border: solid 1px #e3e3e3;margin: 0 5px;text-align:center;}
div.count2 li a{width:183px;}
div.count3 li a{width:118px;}

p.warningmessage {font-size:0.8em; width: 100%; height: 50px; display:none;line-height: 1.6em;}

/* Card preview */
#divClose, #divClose {font-size:1em;position:absolute; bottom:2px; left:0;display:block; text-align:center;width:100%; }
#pDownloadWarning {font-size: 0.8em;}
div.previewcard {position:absolute;z-index:120;border:solid 6px white;text-align: center;left:50%;}
div.previewcard #pDownloadWarning {padding: 80px 10px;}
div.previewcard #imgPreviewPopup {top:6px; left:6px; background-color:#000000;}
div.previewcard img {position:absolute; border:none;padding:0;border-bottom-width:0!important;top: 0;}
div.previewcard #imgLoading {position: absolute; top: 40px; left: 176px;}

/* Minicard preview */
#divPreview_minicard_horizontal {width:364px;height:185px; background: url(../images/horizontalshadow.png) no-repeat;margin-left:-182px;}
#divPreview_minicard_horizontal #pDownloadWarning {padding: 60px 10px;}
#divPreview_minicard_vertical {width:156px;height:382px; background: url(../images/verticalshadow.png);margin-left:-78px;}
#divPreview_minicard_vertical #imgLoading {left: 80px;}

/* Notecard preview */
#divPreview_notecard_vertical {width:364px;height:382px; background: url(../images/notecardshadow.png);margin-left:-182px;}
#divPreview_notecard_vertical #imgLoading {position: absolute; top: 40px; left: 176px;}

/* Sticker preview */
#divPreview_sticker_vertical {width:364px;height:382px; background: url(../images/notecardshadow.png);margin-left:-182px;}
#divPreview_sticker_vertical #imgLoading {position: absolute; top: 40px; left: 176px;}

/* Postcard preview */
#divPreview_postcard_horizontal {width:364px;height:281px; background: url(../images/postcardshadow_horizontal.png) no-repeat;margin-left:-182px;} 
#divPreview_postcard_vertical {width:263px;height:382px; background: url(../images/postcardshadow_vertical.png);margin-left:-78px;}
#divPreview_postcard_vertical #imgLoading {left: 120px;}

/* Greetingcard preview */
#divPreview_greetingcard_horizontal {width:364px;height:281px; background: url(../images/postcardshadow_horizontal.png) no-repeat;margin-left:-182px;} 
#divPreview_greetingcard_vertical {width:263px;height:382px; background: url(../images/postcardshadow_vertical.png);margin-left:-78px;}
#divPreview_greetingcard_vertical #imgLoading {left: 120px;}

/* Big Minicard preview */
#divPreview_bigminicard_horizontal {width:364px;height:260px; background: url(../images/bigminicardshadow_horizontal.png) no-repeat;margin-left:-182px;} 
#divPreview_bigminicard_vertical {width:235px;height:382px; background: url(../images/bigminicardshadow_vertical.png);margin-left:-78px;}
#divPreview_bigminicard_vertical #imgLoading {left: 80px;}

.photomask {z-index:60;background:white; width:100%; height:500px;position:absolute;top:0; left:0;
    -moz-opacity:0.6!important;filter:alpha(opacity="60")!important;opacity:0.6!important;}
.portrait .photomask {width:100%; height:364px}
.landscape .photomask {width:100%; height:243px;}

/* Ignore */
.ignorephoto {position:relative; float:left;left:20;; width:90%; background:transparent; padding:0 10px 0 18px;z-index:90;top:-6px;}
.ignorephoto input {z-index:90;}	
.ignorephoto label {padding-left:0.3em;color:#6f6f6f;position:relative; top:-2px;}
.ignoreimage {font-size:0.7em; color:#808080;clear:left;position:relative; top:-18px;left:-3px;margin-top:20px;text-align:left;z-index:70;}

/* Save / cancel */
.divSaveCancelCrop { position:absolute; bottom:0; right:16px; margin: 10px 0; width: 315px; }
* html .divSaveCancelCrop { width: 380px; text-align: right;} 

/* Full previews */
div.fullpreviewimageCropper { width: 49%; float: left; height:450px;position:relative;  }

div.fullpreviewimage {position:relative; }
div.fullpreviewimage img {position:absolute;top:7px; left:7px;  }
div.fullpreviewimage img.transparent { -moz-opacity:0.2!important; filter:alpha(opacity="20")!important; opacity:0.2!important; }
div.fullpreviewimage img.opaque { -moz-opacity:1.0!important; filter:alpha(opacity="100")!important; opacity:1.0!important; }

	
div.fullpreviewimageCropper .landscape {width:364px;height:243px; background: url(../images/bigminicardshadow_horizontal.png) no-repeat 0px -1px;}
div.fullpreviewimageCropper .portrait {width:245px;height:366px; background: url(../images/bigminicardshadow_vertical.png) no-repeat 0px 0px ;}

div.fullpreviewimage .pEdit {position: absolute; bottom: -64px; left: 10px;}
div.fullpreviewimageCropper .landscape .pEdit {width:352px;}
div.fullpreviewimageCropper .portrait .pEdit {width:230px;}
span.spEdit {float: left; width: 125px;}
span.spIgnore { float: right;  width: 100px;padding-right: 0px;}
span.spIgnore input { float: left; }
span.spIgnore label { float: right; width: 70px;}


p.pImgLoading { background: transparent url(../images/loading.gif) no-repeat scroll 0px 2px; position:absolute; top:92px; padding-left:24px;  font-size:1.5em;}
div.fullpreviewimageCropper .landscape p.pImgLoading { left: 107px; }
div.fullpreviewimageCropper .portrait p.pImgLoading { left: 60px; }

div.divFullPreviewMask { background:#333 none repeat scroll 0%; opacity:0.3 !important; position: relative;}
div.divFullPreviewMask p { position: absolute; top: 10px; left: 10px; color: #000; }

div.divFullPreviewFrame { width: 100%; }
div.divCloseCropper { position: absolute; top: 10px; right: 10px; }
div.divCloseCropper a { padding: 2px 8px 3px; border:1px solid #3399CC; }
#btnsStage3 {padding-top: 0.5em;}

#divBottomMask, #divLeftMask, #divRightMask {z-index:30;background:#333; -moz-opacity:0.3!important;filter:alpha(opacity="30")!important;opacity:0.3!important; 
	position: absolute; width: 100%; left: 0px;}
