/* css for the finish.php pages */
/* original */
#frmAddToCart { position: relative; }
#divAdded {background-color: #ffffaa;}
#pAdded {padding: 16px; } 
#pAdded strong {font-size:1.2em; padding-right:8px; float:left; width: 360px;}
#pAdded span strong {float:none; width: auto;}
#divAdded .button {float:right; margin: 26px 16px;}

#frmAddToCart #btnPayment { margin-right: 16px; }
#divAccessoryProducts { float: left; position: relative; width:915px;}
#divAccessories {padding: 0 34px; margin:0;}
* html #divAccessories { width: 888px; padding: 0 30px;}
#divAccessoryProducts #divAccessories select { margin-top: 8px; }
#divAccessoryProducts #divAccessories input { position: static; width:auto; overflow: visible;
	padding: 0px 8px; margin-left: 0px; margin-top: 16px; float: right; margin-right: 43px;}
#ulAccessories { margin-top: 16px; }
#ulAccessories li {margin-bottom: 8px; margin-top:8px; border-bottom: 1px dotted #ccc; position:relative;
		padding-right:100px; padding-top:8px; padding-bottom:8px;width:794px;}
#ulAccessories li.first { border-bottom: none; border-top: 1px dotted #ccc; margin-top:0;}
#ulAccessories li img { float: left; margin-right: 25px; }
#ulAccessories li select {position:relative; top:4px;}
#ulAccessories li span {position:absolute; right:16px; top:35%;}
#ulAccessories p {padding-bottom:10px;}
#pAddedItem {display: inline; padding: 7px; margin: 0 0 0 5px; font-weight: bold;  border: 1px solid #ccc;}
#txtQuantity {display:none; width:45px;}

/* Other products */
#divOtherProducts {float: left; padding:0 0 0 14px; width: 444px;}
#ulOtherProducts {padding-top:16px;}
/* half width (with accessories) */
#ulOtherProducts li {margin-right: 16px; margin-bottom: 8px; margin-left: 0px; border-bottom: 1px solid #ececec;  width: 444px; }
/* full width (no accessories) */
.divProductsOnly { width: 915px !important; }
.divProductsOnly #ulOtherProducts li { width: 210px; border-bottom: none; text-align:center;  margin-top: 16px;}
.divProductsOnly #ulOtherProducts li p { clear: both; width: 227px; border-bottom: none;} 

.divReadymadePack { width: 205px; float: left; }
.divRow h4 { margin-bottom: 1.5em; }

#ulOtherProducts li.last { border-bottom: none; }
#ulOtherProducts li .aImg {  margin: 0 16px; width: 160px;}
#ulOtherProducts li .aImg, #ulOtherProducts li p { float: left; }
#ulOtherProducts li span {  padding-left:24px; }

/* Readymade upsell */
#divUpsellReadyMade {padding:16px 34px;}
* html #divUpsellReadyMade {width:888px;}
#divUpsellReadyMade div {padding-top:16px;}
#divUpsellReadyMade li { text-align:center; width:222px;}
#divUpsellReadyMade li img {display:block; margin:0 auto;}
#divUpsellReadyMade li small {display:block;}

#divUpsellNext div {border-top:dotted 1px #ccc; padding-top:16px; margin:0pt 16px; padding-top:16px; }
#divTrial div.buttons {border-bottom:dotted 1px #ccc; padding-bottom:16px; margin:0pt 9px 0px 16px; padding-top:16px; }

#divTrial { position: relative; }

#divTrial h4 { margin-bottom: 16px;  margin-left: 16px; } 
#divTrial img { margin-left: 16px; } 

#divTrial #lblTrial { margin-right: 16px; }

#divTrial .landscape #divWatermark {background:transparent url(../images/bc_watermark_landscape.png) no-repeat scroll  0px 0px; 
	margin-top: 0px; _margin-top: -246px; margin-left: 0px; _margin-left: 10px;  z-index: 9999 !important;
	position: absolute; _position: static; top: 66px; left: 26px; }

#divTrial .portrait #divWatermark { background:transparent url(../images/bc_watermark_portrait.png) no-repeat scroll  0px 0px; 
	position: absolute; top: 68px; left: 23px; }

#divTrial .landscape #divWatermark, #divTrial .landscape #divWatermark a { display: block;  width:363px; height:246px;} 
#divTrial .portrait #divWatermark,  #divTrial .portrait #divWatermark a { display: block;  width:246px; height:363px;} 

#divUnWatermark .landscape { background:transparent url(../images/bigminicardshadow_horizontal.png) no-repeat scroll 10px -8px; height:236px; width:373px; }
#divTrial .landscape { height:236px; }

#divUnWatermark .portrait { background:transparent url(../images/bigminicardshadow_vertical.png) no-repeat scroll 9px -6px; height:366px; width:251px; }

.radPromotional { margin-left:21px; margin-top:10px; cursor:pointer;}
.lblPromotional {font-size: 1.1em;  cursor:pointer;} 

#divTrial img, #divWatermark { cursor:pointer; }
