/* Homepage stuff */
#divWelcome { height:365px;margin:-20px 2px 0;}
#divWelcome .contentwide {width:522px; }
#divWelcome .contentnarrow {width: 392px; padding-left:20px;}
* html #divWelcome .contentnarrow {width: 386px;}
#divWelcome #slideshow {display:block; margin:0px; padding:0px; width:522px; 
		height:364px; overflow:hidden; position:absolute; top:-14px; left:2px;}
* html #divWelcome #slideshow {top:-17px; }		
#divWelcome #slideshow li { position:absolute; display:block; list-style-type:none; margin:0px; padding:0px; }
#divWelcome #slideshow li img { display:block; width:524px; height:364px;}
#divWelcome #slideshow li span { position:absolute; left: 6px; bottom: 6px; color:#000; font-size: .75em; text-decoration:none;
		background:white; line-height:1.1em; -moz-opacity:0.6;filter:alpha(opacity="60");opacity:0.6;
		padding:3px;}
#divWelcome .imagetitle {float:right;}
#divWelcome h3 { height: 100px;}
#divWelcome li { font-size: 1.1em; padding: 8px 0 8px 0; background: url(/images/welcome_divider.png) top left no-repeat; }
#divWelcome li.first {background-image:none; padding-top:16px;}

/* Reduce line spacing */
#divPromoBox {line-height:1.2em;}

/* Titles */
h4 {font-size:1.1em;}

/* Promo box */
#divPromoBox {background: #f4f4f4; margin: 0 2px}
#divPromoBox div { float:left; padding: 8px 10px; min-height: 120px; height: 120px; height: auto !important;}
#divPromoBox div div {padding:0;}
#divPromoBox h4 {border-bottom: 1px dotted #adacab; padding-bottom:4px;}
#divPromoBox p {margin: 8px 0 0;}
#divGlobalShipping, #divPartners, #divFreeShipping {display:inline;background: #fff; border:1px solid #dfdfdf; width:224px; margin: 16px 0 16px 16px; _height:1px}
/*#divGlobalShipping img {float:left; margin: 0 10px 0 0; }*/
#divGlobalShipping img, #divFreeShipping img { float: left; margin: 6px 12px 0 0; }
#divSpecialOffers {display:inline;background:#fbede1; border: 1px solid #f96; width: 367px; margin:16px 16px 16px 20px;}
#divSpecialOffers img {margin: 8px 8px 0 0; float:left;}
#divPartners ul {float:left; margin: 9px 8px 0 0;}
#divPartners img {display:block; margin: 0 0 2px 4px;}
#divPartners p {position:relative; left:-5px;}

#divProdBlock {position:relative;}
#divProdBlock h3 {color:#333; margin: 16px 0; height: 32px;}
#divProdBlock li {float:left; display:inline; height: 90px; text-align: center; margin:0;}
#divProdBlock li img { border-right: 1px dotted #adacab;}

#liProdMinicards {width: 128px;}
#liProdBusinesscards {width: 129px;}
#liProdPostcards {width: 129px;}
#liProdStickerbooks {width: 113px;}
#liProdNotecards {width: 133px;}
#liProdGreetingcards { width: 114px;}
#liProdAccesories {width: 137px;}
#liProdGiftCertificate {width: 133px;}
#liProdSeeAll {float:right; width: 165px; position:relative;}
#liProdSeeAll a { position:absolute; top:24px; right:0;}

#divWhoMoo {margin: 8px 16px;}

#divUpToDate {background:#f4f4f4; margin: 10px 0 0 16px; width: 478px; padding: 16px;}
#hUpToDate { color: #666; font-size: 1.4em; }
#divUpToDate .infobox1 { border: none;}
#divUpToDate .infobox1 h4 {margin-bottom: 8px; background:#8c8c8c; color:#fff;}
#divUpToDate .infobox1 div, #divUpToDate ol {border:none; background:#fff; margin: 8px 0 0; padding: 8px;}
#divUpToDate a.title {font-weight:bold;}

#divBlog h4 {position:relative}
#divBlog h4 #aRss {position:absolute; right:8px; top:6px;}
#divBlog li, #divBuzz li, #divQuotes li {margin-bottom:1em;}
#divBlog small, #divBuzz small {display:block; font-size:0.9em;}
#divQuotes li {display:none;}

#divNewsletter {font-size:1.1em; font-weight:bold;}

#divBrowse {width: 406px; margin:0 2px 0 0; padding: 0 16px 16px 0;}
#divBrowse p {padding-left:3px;}

#divInspirations {background: url(/images/homepage_inspirations.png) top right no-repeat; padding: 24px 20px 8px 24px; 
		margin-bottom:16px; min-height:120px; height:120px; height:auto !important;}
#divInspirations h4 {padding: 2px 8px;}
#divInspirations img {margin: 8px;}
#divInspirations p {margin: 0;}
#divCommunityPromo {border:1px solid #dfdfdf; margin: 0 0 16px 16px; padding: 8px;}
#divCommunityPromo h4 {border-bottom:1px dotted #adacab; color: #f60;}
#divCommunityPromo img {float:left; margin: 4px 4px 0 0;}
#divCommunityPromo p {margin: 8px 0;}

#divBuyReadyMade {margin: 0 0 16px 16px; padding: 8px;}
#divBuyReadyMade h4 {border-bottom:1px dotted #adacab;}
#divBuyReadyMade img {margin: 16px 16px 0 0;}
