/* Cross site styles (header, footer, default styles for content etc) */

body { margin:0; padding:0 0 16px; background:#e7e7e7 url(http://www.moo.com/images/background_newflakes.png) repeat-x; font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, sans-serif; font-size: 0.85em; color:#333; line-height: 1.5em;}

/* Links */
a {color:#3399cc; outline: none;}
a:visited {color:#336699;} 
.boxarrow {background:url(http://www.moo.com/images/boxarrowlink.png) no-repeat; padding-left:24px; padding-bottom:4px; font-size:1.1em;}
a.nounderlinelink {text-decoration: none;}
a.disabledlink {color:#808080;}
a.disabled {color: #808080 !important;}
a img {border:none;}

/* Link buttons */
a.linkbutton {background:url(http://www.moo.com/images/buttoncenter_alt.png) repeat-x;position:relative;height:32px;display:block; float:left; padding:0 14px;text-decoration:none; font-size:1.1em; color:#ff6600; font-weight:bold; padding-left: 30px; margin: 0 10px 10px 0;}
a.linkbutton:visited { color:#ff6600;}
a.linkbutton span {height:32px;}
a.linkbutton span.left {background:url(http://www.moo.com/images/buttonleft.png) top left no-repeat;position:absolute;left:0; top:0; display:block;width:36px; }
a.linkbutton span.middle {position:relative; top:4px; left: 2px; white-space: nowrap;}	
a.linkbutton span.right {background:url(http://www.moo.com/images/buttonright.png) top right no-repeat;position:absolute;right:0; top:0; display:block;width:6px; }

a.linkbutton.alt {background-image:url(http://www.moo.com/images/buttoncenter_alt.png); color:#fff; height: 40px; padding: 0 14px 0 36px;}
a.linkbutton.alt:visited { color:#fff;}
a.linkbutton.alt span {height: 40px;}
a.linkbutton.alt span.left { width: 36px;background-image:url(http://www.moo.com/images/buttonleft_alt.png);}
a.linkbutton.alt span.middle { top:8px;}
a.linkbutton.alt span.right {width: 8px;background-image:url(http://www.moo.com/images/buttonright_alt.png);}

/* Headers */
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}
#divHeader {height:90px;position:relative;}
h1 {display: block; width: 175px; height: 77px; position: absolute; left: 25px;top: 4px;z-index: 10;}
h1 a {display: block; width: 185px; height: 90px;}
h3 {font-weight:normal; font-size:1.2em;margin-bottom:0.8em;clear: left; font-size:1.2em;}
h3.large {font-size:1.5em;color:#FF6600;}
h3.textheader {font-size:1.6em;padding-left:10px;}
h3.textheader strong {color:#333;}
h4 {font-size:1.2em;padding-bottom:2px; font-weight: bold; color:#333;}
h4.arrow { background: url(http://www.moo.com/images/arrow_droplet.png) no-repeat center left; padding: 3px 20px 0px !important; }
h4.underline { border-bottom: 1px solid #ccc; }
h4.underline span { font-size: 0.8em; color: #333; font-weight: normal; }
h5 {font-size:1em; font-weight:normal}
h5.strong {font-weight:bold}

/* Image headers */
div.imagetitle {height:60px; background:url(http://www.moo.com/images/dotted_line.png) repeat-x bottom left!important; padding:0 0 8px 16px;}
div.imagetitle h3 {display:block; height:60px;width:100%;}
#hImage { min-height: 60px; height: auto !important; height: 60px; width: 640px; }
#hImage.middle { background-position: center !important; width: 100% !important; height: 80px !important;}
#hImage.oneline { min-height: 20px; height:auto !important; height: 20px;}

/* Forms */
fieldset {border:none; padding:0; margin:0;}
fieldset.fieldsetborder {border:solid 1px #e5e4e4;padding:4px;}

input, select, textarea { background:white, font-family: Helvetica, Verdana, sans-serif; font-size:1.1em; }
input.error, select.error, textarea.error  {border: solid 2px #f03b1f!important;}
.disabled, input.disabled, select.disabled {background:#FAFAFA;}

input#btnStage3, input#btnStage3a {margin-right: 1px; }
input.textbox, select {padding:0.4em 0.2em 0.2em;}
input.textbox.autopostback {background: white url(http://www.moo.com/images/return.png) no-repeat right 50%;}
input.textbox {width:180px;}
input.textbox.small {width:80px;}
input.textbox.medium, select.medium {width:100px;}
input.textbox.verysmall, select.verysmall {width:80px;}
input.textbox.extrasmall, select.extrasmall {width:30px;}
input.textbox.large {width:220px;}
input.textbox.verylarge {width:300px;}
input.textbox.right {text-align:right;padding-right:0.2em;}
input.radio, input[radio] {cursor:pointer}
label.disabled, label.labeldisabled {color:#808080}

/* Buttons */
div.buttons {text-align:right;clear:both;padding-top:1em;}
input.button {font-size:1.2em; padding: 1px 2px; width: 1px; overflow: visible; }
input.button[class] { /* IE ignores [class] */ width: auto; /* cancel padding fix for other browsers */ }
input.imagebutton, input.imagebuttonlarge, input.imagebuttonmedium, input.imagebuttonmediumlarge {
	border: none; color:white; width:133px; height:24px; text-transform:uppercase; font-size:13px;}
input.imagebuttonmedium {width:165px;}
input.imagebuttonmediumlarge {width:190px;}
input.imagebuttonlarge {width:233px;}

/* Textbox hints */
ul.form small.texthint {position:absolute; right:65px; bottom:6px; font-style:italic; color:#afafaf; font-size:11px;}

/* Lists */
ul.form label {display:block; float:left; width:170px; padding-top:4px;}
ul.form label.radiolabel {display:inline; float: none;}
ul.form span.fauxlabel {display:block; float:left; width:160px;}
ul.form span.fauxinput {width:160px;}
ul.form li {margin:5px 0; padding-bottom: 6px !important; position:relative;}
ul.form input.textbox {width:165px;}
ul.form input.textbox.verysmall {width:30px;}
ul.form input.textbox.small {width:80px;}
ul.form input.textbox.medium {width:100px;}
ul.form input.textbox.large {width:220px;}
ul.form input.textbox.verylarge {width:300px;}
ul.form input.textbox.right {text-align:right;padding-right:0.2em;}
ul.form select {width:175px;}
ul.form select.verysmall {width:48px;}
ul.form select.small {width:80px;}
ul.form select.medium {width:100px;}
ul.form select.large {width:228px;}
ul.form select.verylarge {width:308px;}

ul.collapse, ol.collapse {margin:0;padding:0;}
ul.collapse li, ol.collapse li {margin:0;padding:0;float:left; list-style-type:none;}

ul.inline, ol.inline {margin:0;padding:0;}
ul.inline li, ol.inline li {display:inline;margin:0;padding:0;}

ul.nobullets, ol.nobullets {list-style-type:none;margin:0;padding:0;}
ul.nobullets li, ol.nobullets li {margin:0;padding:0;}

ul.imagelist {padding-top:0.6em;}
ul.imagelist li {padding-bottom:0.6em;}
ul.imagelist li img {vertical-align:middle;margin-right:5px;}

/* Link list (arrange arrows) */
ul.linklist li {background:url(http://www.moo.com/images/linklist.png) no-repeat 0 50%; padding-left:12px;}

/* Bullet list (arrange bullets) */
ul.bulletlist { list-style:none; list-style-position: inside; }
ul.bulletlist li {background:url(http://www.moo.com/images/bullet_orange.png) no-repeat 0 6px; padding-left:16px;}
* html ul.bulletlist li {padding-left:0px;}

dl dd {margin-left:0;padding-left:0;}

/* Alpha Listing (see themes page) */
ul.alphalisting { padding-bottom :16px; margin-left: 4px; }
ul.alphalisting li { font-size: 1.6em; margin-right: 31px; }

dl.alphalisting dt {clear: both; width: 50px; float: left; text-align: center; font-size: 1.5em; color: #666; padding: 1px 0 8px 0;}
dl.alphalisting dd {margin: 0 0 12px; padding: 0 12px 12px 72px; border-bottom: solid 1px #eee;}
dl.alphalisting dd ul {list-style-type: none; margin: 0; padding: 0; overflow: auto; _height: 1%;}
dl.alphalisting dd ul li {width: 33%; float: left; white-space: nowrap; overflow: hidden;}

/* Tables */
table {border-collapse: collapse; width:100%}
table.clean td {border:none; padding:0;}
th, td {border:solid 1px #ececec; padding:5px}
th {background:#949494; color:white; font-weight:normal; text-align:left;}
tbody th {background: #fff; color: #333;}
tr.divider td {border-top: solid 1px #ccc}

/* Formatting */

/* clear */
.clear {clear:both}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* image replacement */
.hide {display:none;}

/* alignment */
.alignright {text-align:right;}
.aligncenter {text-align:center;}
.alignleft {text-align:left;}

/* Huge text */
.huge {font-size:2.8em;}

/* Strikethrough */
.strike {text-decoration: line-through;}

/* Highlight */
.hilite  {background-color: #0ff;}
.highlight {background:#ffffcc; padding:0 0.5em; color: #333;}
.texthighlight {background:#ffffcc; color: #ff0000;}
.highlight, .mark {padding:0 0.5em;}
span.mark {background:#808080; color:white;}

/* shhh! */
span.quiet {color:#808080;font-weight:normal;}

/* Code */
code.machine {background:black; color:white; font-weight:bold; padding:0 4px; font-size:1em;}
code.machine {background:black; color:white; font-weight:bold;}

.altfont {font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;}


/* Building blocks
 ******************/

/* Main container */
#divPage {width:956px;margin: 0 auto;position: relative;_margin: -8px auto 0;}
div.block {background: white url(http://www.moo.com/images/blockmiddle.png) repeat-y; margin-bottom: 25px;}
div.blockmiddle {position: relative;height: 1%;padding-top:6px;}
div.block span.blocktop {background:url(http://www.moo.com/images/blocktop.png) no-repeat; width: 956px; display:block; height: 8px;
	position: relative; top: -8px; left: 0; z-index:1; line-height:3px;}
div.block span.blockbottom {background: url(http://www.moo.com/images/blockbottom.png) no-repeat; width: 956px; display:block; height: 9px;
	position: relative; bottom:-3px;left: 0; clear:both; line-height:3px;}
#divPage form.mainform {margin-top:55px;}
#divPage.hasdropbox {margin-bottom:100px;}

/* Content blocks */
.contentfull { float: left;  width: 915px; }
html>/**/body .contentfull { float: none;  width: auto; }
div.contenthalf, div.contentwide, div.contentnarrow, div.contentwidealt, div.contentnarrowalt {float:left; display:inline; /* hasLayout */}
div.contenthalf, div.contentwide, div.contentnarrow, div.contentfull, div.contentnarrowalt, div.contentwidealt {padding:16px;}
div.contenthalf.left, div.contentwide.left, div.contentnarrow.left, div.contentwidealt.left, div.contentnarrowalt.left, div.contentfull.left {padding-right:8px;}
div.contenthalf.right, div.contentwide.right, div.contentnarrow.right, div.contentnarrowalt.right,div.contentwidealt.right,  div.contentfull.right {padding-left:8px;float:right;}
div.contentfull {padding: 0 20px 20px; min-height: 48px; _height:1%; }
div.fade div.contentfull {width:913px}
div.contenthalf {width:452px; overflow:hidden;}
div.fade div.contenthalf {width:450px;}
div.contentwide {width:640px;padding-right:8px;overflow:hidden;}
div.contentnarrow {width:221px; padding-left:8px;overflow:hidden;}
div.contentwidealt {width:632px;padding-right:8px;overflow:hidden;}
div.contentnarrowalt {width:270px; padding-left:8px;}
div.contentfull:after, div.contenthalf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
div.contentfull, div.contenthalf {display: inline-block;}
/* Hides from IE-mac \*/
* html div.contentfull, * html div.contenthalf {height: 1%; display: inline}
div.contentfull, div.contenthalf {display: block;}
/* End hide from IE-mac */

/* No branding version */
body.nobrand {background:white}
body.nobrand #divPage {background:none;text-align:center;}
body.nobrand div.block, body.nobrand div.block span.blocktop, body.nobrand div.block span.blockbottom {background:none!important;}
body.nobrand #divFooter {display:none;}


/* Page elements
 ****************/

/* Main menu */
#divMainMenu {position:absolute; right:3px; bottom:8px;height:60px;width:700px;}
#divMainMenu ul {position:absolute; right:0; bottom:0;font-size:1.1em;}
#divMainMenu a {color:#3399cc;display:block;padding:6px 8px;
	text-decoration:none;}
#divMainMenu li a:hover {text-decoration:underline}	
#divMainMenu a:visited {color:#3399cc;}	
#divMainMenu li {font-weight:bold;}
#divMainMenu li {padding-left:1px;}
#divMainMenu li.spacer {padding-left:16px;background:url(http://www.moo.com/images/menudivider.png) repeat-y 8px 0;}
#divMainMenu li.quiet {font-weight:normal}

/* Info links (login etc) */
#ulInfoLinks {position: absolute; top:8px;right:0px; font-size:1em;text-align:right;
	padding-bottom:13px;padding-right:15px; }
#ulInfoLinks #liHelp {background:#ffaaaa;padding:1px 5px;}
#ulInfoLinks #liHelp a {color:white!important;}
#ulInfoLinks #liCart a {text-decoration: none; width: 16px; height: 16px; padding-left: 18px;background: url(http://www.moo.com/images/cart.png) no-repeat bottom left;} 
#ulInfoLinks #liCart a.empty {color:black; background: url(http://www.moo.com/images/cart.png) no-repeat bottom left;}
#ulInfoLinks #liCart a.full {color:#FF6600; background: url(http://www.moo.com/images/cart.png) no-repeat top left;}

/* Breadcrumbs */
ul.breadcrumbs {font-size:1.2em; width: 640px; }
ul.breadcrumbs.smallcrumbs {font-size:1em;}
ul.breadcrumbs li {margin:0;padding:0;display:inline; list-style-type:none;line-height:1.3em;}
p.breadcrumbtagline {padding:0.5em 0 0 0;margin:0;font-size:1.2em;}

/* Content */
#divContent { margin-bottom: 8px; display:inline-block;}
#divContent { display:block; } /* IE hasLayout bug fix */
#divContentRight, #divContentLeft {width:50%;float:left;}
.leftpod {padding-bottom:2.5em!important; vertical-align: top; width: 450px; float: left;margin-left: 15px;}
.textpage {padding-top:40px;}

/* Page warnings */
#divWarning {background:#FFEBE8; border:solid 1px #F03B1F; font-size:1em; color:black; padding:0.7em 0.7em; margin:0 32px 2em 32px;  position:relative; top:10px; z-index: 90;}
#divWarning.notracker {margin-top: 30px;}
#divWarning ul {margin:0;padding:0 0 0 1em;}

/* Product info bar */
#divInfoBar {border:solid 1px #9f9f9f; color:#5F5F5F; margin-top:30px;font-size:0.9em; padding:2px 8px 2px 42px; font-weight:bold; margin:0 20px 5px; _margin-top: 19px;position:relative; height: 1%;}
html>/**/body #divInfoBar { height: auto;}
#divInfoBar	#imgProductType {position:absolute; left:4px; top:-7px; left: 5px;}
#aBackToPayment {color: #F03B1F; margin-right:8px; position:absolute; right:0pt; top:0px;}

/* Search Box */
#formSearch { float: right; margin:-4px -8px 0 0; text-align: left; }
#formSearch fieldset { display: inline; }
#formSearch input { font-size: .92em; }
#formSearch label { color: #000; font-size:1.1em;font-weight:bold; }
#formSearch small { font-size: 0.85em;}
div.imagetitle #formSearch {margin-right: 16px;}

#divSearchDropdown {background: #fff; border: solid 1px #ccc; font-size: 0.9em; z-index: 100;}
#divSearchDropdown ul {margin: 0; padding: 0; list-style-type: none; text-align: left;}
#divSearchDropdown ul li {padding: 1px 5px; overflow: hidden; white-space: nowrap;}
#divSearchDropdown ul li.selected {background: #f6f6f6;}
#divSearchDropdown ul li span {font-weight: bold;}

/* Tracker */
#ulTracker {position:relative; height:2em; font-size:0.9em; margin:2px 20px 0; padding:10px 0;}
#ulTracker li { position: relative; display:block; height:22px; color:#333; margin:0; width: 171px; background:#ececec; margin-right: 1px; padding-left: 10px; padding-top: 2px;}
#ulTracker li.last {margin-right: 0; width:174px;}
#ulTracker li span.inactive {color:#bc8866}
#ulTracker li img {position: absolute; right: 3px;top: -2px;}
#ulTracker.items_3 li {width: 294px;}
#ulTracker.items_4 li {width:218px;}
#ulTracker.items_5 li {width:172px;}

form.notracker {margin-top:50px;}

/* Pagination */
#divPagination {text-align:center!important; padding-bottom:1em;padding-top:2em;clear:left;}
#divPagination ul {margin:0 auto!important;}
#divPagination ul li a {border:solid 1px #bdd8ec;padding:2px 7px;text-align:center;margin:0 2px;}
#divPagination ul li span {padding:2px 7px;text-align:center;margin:0 2px;}
#divPagination ul li.current {font-weight:bold; border:none}
#divPagination ul li.previous a, #divPagination ul li.next a {border:none;}
#divPagination ul li.previous {padding-right:20px;}
#divPagination ul li.next {padding-left:20px;}

/* Sidebar */
#divSidebar {width: 175px; float: left;padding-top:88px;}
#divSidebar.flush {padding-top:15px;}
#divSidebar ul, #divSidebar dl  {padding:10px 15px 20px 15px;}	
#divSidebar p {margin:6px 10px;}
#divSidebar ul a, #divSidebar dl a {padding-left:3px;}
#divSidebar h4 {font-size: 1.1em; border-bottom:dotted 1px #aeaeae; color: black;padding-bottom: 0.2em;}
#divSidebar dt {color:black;}
#divSidebar dd {margin: 0 0 1em 0!important;}
#divSidebar #liBlogHome {margin-top:10px;padding-top:5px;border-top:solid 1px #cacaca;}

#divSidebar .noticebox {padding-bottom:7px}
#divSidebar .noticebox ul, #divSidebar .noticebox dl  {padding:7px;}	

/* Page titles */
#divIntro {position:relative;}
#divIntro h3 {height: 30px;margin-top:8px;margin-left:16px;}
p.pIntro { font-size: 1.1em; margin: 20px 0; }
p.pSmallIntro { font-size: 1.1em; margin: 0px 0; }
a.aIntro { font-size: 1.1em; margin: 20px 0; }

/* Global shipping */
a.globalshipping {display:block;left:855px;top:-8px;height:70px;width:100px;position:absolute;z-index:80;}
/*a.globalshipping {background: transparent url(http://www.moo.com/images/i18n_global_shipping.png) 0 0 no-repeat;}*/
a.globalshipping {background: transparent url(http://www.moo.com/images/xmas_countdown_icon.png) 0 0 no-repeat;}

#aValentines {position:absolute; right: 112px; top:-5px; z-index:80; display:block; width: 68px; height: 65px;
	background: transparent url(http://www.moo.com/images/valentine_ideas.png) no-repeat; }
#aEaster {position:absolute; right: 112px; top:-5px; z-index:80; display:block; width: 68px; height: 65px;
	background: transparent url(http://www.moo.com/images/homing_egg.png) no-repeat; }

/* Product block */
div.product {margin: 8px 16px 0 8px; float: left; text-align: center;}
div.product a {display: block;}

#imgAwesome {position: absolute; top: -5px; left: 284px;}	
div.productshot ul {font-size: 0.89em; margin:6px 0pt 0pt; padding: 0 0 0 15px; list-style-type: disc; width: 150px;}
div.productshot ul li {margin: -3px 0 0 0;}
div.productshot ul.ulStickerProduct {width: 310px;margin-top:-6px;}
#divHero div.productshot p {font-size: 0.9em;}
div.productshot p {margin:-10px 0 0 0; padding: 0;}

#aNotecards img {margin: 2px 0 10px -24px;}
#aMinicards img {margin: 2px 0 10px -9px;} 
#aHomeNotecard img{margin-top: 7px; margin-left:0px;}
#aHomeMinicard img {margin-top: 21px; margin-left:-9px;}
#aHomeSticker img {margin-top: 20px; }
#ulMinicards {position: relative; bottom: -13px;}

.photos img {border-top:solid 5px #fff; border-right:solid 5px #fff; border-bottom:solid 7px #fff; border-left:solid 5px #fff; }
.photos ul {width:100%;}
.photos a {display:block;vertical-align: text-bottom!important; border:solid 1px #ddd;background:white;}
.photos li {margin:6px!important}

/* Fade */
.fade {background:url(http://www.moo.com/images/fade.png) repeat-x;margin:2px;}
div.pagefade {background:url(http://www.moo.com/images/fade.png) repeat-x;width:751px;position:relative; 
	left:-18px;padding-bottom:1em;padding-left:15px;padding-top:5px;}
.greyfade {background:url(http://www.moo.com/images/greyfade.png) repeat-x;}

/* Footer */
#divFooter {font-size:0.9em; color:#333; padding:2px 0;}
#divFooter div {float:left; display:inline; padding: 0 20px;}
#divFooter p {margin:0;}
#divFooter a {color:#3399cc;}
#divFooter img {display:block;}
#divFooter #divFooterTerms {width:260px; }
#divFooter #divFooterDelivery {width:250px; border-left:1px dotted #adacab; border-right:1px dotted #adacab;}
#divFooter #divFooterLanguage { width:320px; }
#divFooter #divFooterLanguage #ulLanguage li.selected span {font-weight:bold; color:#3399cc;}
#divFooter #divFooterCopyright { clear:both; float:none; display:block; margin: 8px 22px; text-align:center;}
* html #divFooterCopyright {padding-top:20px;}

/* Partner page banner  */
#divBanner {position: relative; height: 22px; background: #808080; font-size: 0.9em; border-bottom: 2px solid #ccc; color: #fff; margin: -15px -8px 10px; _margin: -15px -10px 10px;  padding:0 22px;}
#divBanner p {padding-top: 2px;}

/* Tabs */
#divBrowserTabs a {border:solid 1px #c8c3c3; color:white;background:#ada6a6; text-decoration:none;
	position:relative; top:-1px; padding: 4px 1.2em 1px; font-size: 1.1em;}
#divBrowserTabs a.selected {border-bottom:solid #F9F9F9 1px; z-index:2;
	background: #f9f9f9; color: #333;}
/* nasty IE hack to fix tabs overlapping */
html>/**/body #divBrowserTabs a {padding:4px 1.2em;}	

/* Image thumbnails (polaroid style photos)*/
ul.photothumbs {position: relative;}
ul.photothumbs li {background:url(http://www.moo.com/images/thumbnailshadow.png); height: 92px; width: 87px;margin:0 9px 10px 0;}
ul.photothumbs img {position: relative; top: 3px;left: 6px;}

ul.photothumbssmall {position: relative;}
ul.photothumbssmall li {background:url(http://www.moo.com/images/thumbnailshadow_small.png); height: 71px; width: 66px;margin:0 7px 7px 0;}
ul.photothumbssmall img {position: relative; top: 3px;left: 1px;}

/* Notice box */
div.noticebox {background:#efefef;}
div.noticebox h4 {background:#cacaca;color:black; font-weight:bold;padding:5px 7px;
	margin-bottom:5px; font-size:1em;}
div.noticebox.light h4 {font-size:1em;}	
div.noticebox div.inner {margin:8px;}
div.noticebox div.inner .divider {border-top:solid 1px #cacaca;padding-top:8px;}

div.noticebox h5 {margin-left:8px; font-weight:bold}
div.noticebox ul {padding:0;}

/* Dotted divider lines */
.dividerbottom {background:url(http://www.moo.com/images/dotted_line.png) repeat-x bottom left;}
.dividertop {background:url(http://www.moo.com/images/dotted_line.png) repeat-x top left;}
.dividerright {background:url(http://www.moo.com/images/dotted_line_vertical.png) repeat-y top right;}
.dividerleft {background:url(http://www.moo.com/images/dotted_line_vertical.png) repeat-y top left;}

/* Alert */
div.attention {text-align:center; font-size:1.4em;padding:2em;}

p.announce {font-size:1.4em; margin:0; color:#2366AA; }
p.instruction {font-size:1em; padding:0; margin:0; color:#2366AA;}
p.stack {margin:0;padding:0.4em 0;}
p.flat {margin:0; padding:0;}

/* info boxes */
div.infobox1, div.infobox2, div.infobox3, div.infobox3a, div.infobox4, div.infobox5, div.infobox7 {border:solid 1px #e3e3e3; margin-bottom:1em;}
div.infobox3 {background:#f4f4f4;}
div.infobox3a {background:#eaeaea; margin-top:13px;}

div.infobox3 table {position:relative; top:-7px;margin:1px;}
div.infobox3 table td {border:solid 1px white;position:relative;}
div.infobox5 {border:solid 1px #fbe1d4;}
div.infobox6 { background-color: #00aadf; }
div.infobox8 {margin:0px 0px 13px; padding: 1px 0px; background-color: #fdefeb }
div.infobox9 {border:solid 1px #e3e3e3; margin-bottom: -1px;}
div.divNote {background: url(http://www.moo.com/images/note.png) no-repeat top left;} 

div.infobox1 h4, div.infobox2 h4, div.infobox3 h4, div.infobox4 h4, div.infobox5 h4, div.infobox7 h4 {padding:3px 8px;margin-bottom:8px;font-size:1.1em;}
div.infobox2 h4 {padding:3px 8px;margin-bottom:8px;font-size:1em; }
div.infobox3a h4 {margin-bottom:2px; padding:3px 12px 0px;font-size:1.1em;}
div.infobox4 h4 {border-bottom:solid 1px #e3e3e3; padding:6px 7px;}
div.infobox5 h4 {border-bottom:solid 1px #e3e3e3; padding:6px 7px; font-size:1em; font-weight:normal;color:white; background:#f96213;}
div.infobox1 h4, div.infobox3 h4 {background:#e3e3e3;}
div.infobox9 h4 { padding: 5px 21px; margin-bottom:8px;font-size:1em; background: url(http://www.moo.com/images/underline_narrow.png) no-repeat 21px bottom;}
div.infobox7 h4 {background-color: #ef1c24; color:#fff; }
div.infobox8 h3 { margin-top: 8px !important; margin-bottom: 10px !important; font-size:1.1em; font-weight:bold; line-height:1.3em;}
div.infobox8 h4 { background: url(http://www.moo.com/images/icon_help.png) no-repeat 96% 100%; padding: 10px 53px 0pt 19px; color: #ff6600; margin-bottom:8px;font-size:1.1em;}
.contentnarrowalt div.infobox8 h4 { background: url(http://www.moo.com/images/icon_help.png) no-repeat 98% 7px; padding-bottom: 28px;} 

div.infobox1 div, div.infobox2 div, div.infobox3 div, div.infobox4 div, div.infobox5 div  {margin: 0 8px 8px 8px;}
div.infobox3a div { margin:8px; padding:1px 0px;background-color: #fff; border: 1px solid #e1dfdf; }
div.infobox3a img { margin: 0px 14px; }
div.infobox3a div p { margin: 8px 12px; line-height:1.4em;}

#divPromo div { background-color: #fff; border: 1px solid #f5dcd5; }
div.infobox8 div { margin: 8px 8px 10px; padding:0px 10px; }
div.infobox8 div p { margin: 8px 0px; }
div.infobox8 div img { margin-bottom: 8px; } 
div.infobox8 #imgSticker { float: right; }
div.infobox9 div { padding: 5px 21px; }
div.infobox9 ul li { margin-right: 4px; }

div.free_shipping { padding: 8px; margin-bottom: 16px; color: #cf1b00; background: #fff2f2 url(http://www.moo.com/images/xmas_baubles.png) 4px 0 no-repeat }
div.free_shipping h4 { margin: 16px 0px 0px 58px; color: #cf1b00; }

div.divNote div  {margin: 0 8px 8px; padding: 0 16px 10px;}
div.divNote h4 {color:#ff6600; padding: 41px 17px 10px 23px; font-weight: normal;}
div.divNote ul { margin-left: 23px; }
div.divNote li img { margin-right: 17px; }	

/* Change currency */
#ulCurrency { padding:  8px 0px; text-align:right; margin-bottom: -16px; border-top: 0px dotted #ccc; z-index:999; height: 1%;}
#ulCurrency li { font-size: 0.9em; }
#ulCurrency li.last { padding-left: 5px; }

/* search tracking */
#divMooTracker { position: absolute; right: 110px; top: -15px; z-index: 999; background-color: #00AADF; padding: 10px 4px; width: 75px; height: 81px;}
#divFooter ul li a.mootracker { background:url(http://www.moo.com/images/54656778.png) top left no-repeat;  padding-top: 88px; }
#dlTeamList dt#dtNew.mootracker { background:url(http://www.moo.com/images/34598735.png) top left no-repeat;  padding-top: 88px; }

/* Studio stuff- common to /designs and /readymade */
/* Biogs */
#divBiog img {float:left;margin:0 8px 8px 0;vertical-align:top;}
img.buddyicon {border:solid 1px #e4e4e4;padding:3px;}

/* Featured packs/products */
.divFeatured { padding-bottom: 16px; margin-bottom: 16px; }
* html .divFeatured { float: left; width: 640px; }
.divFeatured img { float: left; margin-right: 32px; margin-bottom: 16px;}
.divFeatured h4 { color: #000; padding-bottom: 0; margin-top: 21px; font-size: 1.2em; }
.divFeatured h4 a { text-decoration: none; color: #000; }
.divFeatured h4 a:visited { color: #000; }
.divFeatured h4 span { color: #666 }
.divFeatured p.pTagline { margin-top:0; padding-top:0; }

/* 2ndary nav modules */
#divLeftNav h4 a { color: #333; }
#divLeftNav div.infobox2 div { margin: 0 21px 8px}

/* Announce */
div.announce {text-align:center; font-size:1.3em; padding-top:2em;}
div.announce p {padding:0  20% 2em 20%;}
#divPromo h3 a { color:#FF6600; text-decoration: none; }

/* Page-specific
 ****************/

/* Contact page */
#hContactUs {background: url(http://www.moo.com/images/contactpage_purple.png) no-repeat;height:30px;}

/* FAQ */
dl.faq dt {font-size:1.2em; color:black; margin-bottom:0.3em;font-weight:bold; padding-bottom:0;}
dl.faq dd {margin-bottom:2em; margin-left:0;padding-left:0;}

/* Holiday promo */
#divHolidayPromoCont {padding: 0 16px; position: relative; clear: both;}
#divHolidayPromo {padding-top: 40px; background: url(http://www.moo.com/images/background.jpg) no-repeat; text-align: center; width: 735px; min-height: 87px; height: auto !important; /* IE */ height: 87px; /* IE */}
#divHolidayPromo p {color: #336600;}
#divHolidayPromo a {color: #cc0000;}
#aGiftFinderLink {display: block; position: absolute; top: 5px; left: 175px; width: 165px; height: 30px;}
#aHoliStoreLink {display: block; position: absolute; top: 5px; left: 525px; width: 140px; height: 30px;}

/* Sign up to newsletter */
#pSignupText {padding-top:1em; margin:2em 2em; line-height:2em; font-size:0.8em;}
#divNewsletterSignup .textbox {margin: 4px 0;}
#divNewsletterSignup p {margin: .2em 0 .4em;}

/* Secret stuff */
#divSecretStuff #divSecretMovie {padding-left:0; width: 321px;}
#divSecretStuff #divSecretFacts {padding-right:0; width: 295px;}
#divSecretStuff img { display:block; margin: 8px auto;}
#divSecretStuff form {background: #eaeaea; padding: 16px;}
#divSecretStuff form strong {float:right; width: 160px; margin-top: -.4em}
#divSecretStuff ul.bulletlist {padding-left: 0;}
#divSecretStuff li {margin: 8px 0;}
#divSecretStuff ul.nobullets li {background:none;}
#divSecretShot {padding:0;}

/* HP */
h1.hp {background:url(http://www.moo.com/images/moo_hp_logo.png) no-repeat;}
