/* Logo */
h1 {background:url(http://www.moo.com/images/logo_orange.png) no-repeat;}

/* infobox */
.infobox {background:#fcecd3; border: solid 1px #eb945a;}

/* Headings */
h3 {color: #ff6600;}
h5 {color: #ff6600;}

/* Infolinks */
#ulInfoLinks  li a:hover {text-decoration: underline;color: #ff6600;}

/* Tracker */
#ulTracker li a {color:#333;text-decoration:none;}
#ulTracker li.current a {color:white;text-decoration:none;font-weight:bold;}
#ulTracker li.current {background:#ff6600;}
#ulTracker li.complete {background:#fcecd3;}


/* Steps 
#olSteps span.stepnumber {color:#ff6600;}
*/

/* Login */
#divLogin {width:230px;text-align:left; margin-top:1em;margin-bottom:1.3em;}
#divLoginTop {background:url(http://www.moo.com/images/orange_top.png) no-repeat;position:relative; top:-4px;
	padding-bottom:1px;padding-right:10px;}
#divLoginBottom {background:url(http://www.moo.com/images/orange_base.png)  no-repeat;position:relative;top:9px;
	padding-bottom:0px;}

#divLoginLong {width:500px;text-align:left;
	background:url(http://www.moo.com/images/1px_orange_long.png); margin-top:1em;margin-bottom:1.3em;}
#divLoginTopLong {background:url(http://www.moo.com/images/orange_top_long.png) no-repeat;position:relative; top:-4px;
	padding-bottom:1px;padding-right:10px;}
#divLoginBottomLong{background:url(http://www.moo.com/images/orange_base_long.png)  no-repeat;position:relative;top:9px;
	padding-bottom:0px;}

#divLoginMedium {width:320px;text-align:left; float: left; 
	background:url(http://www.moo.com/images/1px_orange_medium.png); margin-top:1em;margin-bottom:1.3em;}
#divLoginTopMedium {background:url(http://www.moo.com/images/orange_top_medium.png) no-repeat;position:relative; top:-4px;
	padding-bottom:1px;padding-right:10px;}
#divLoginBottomMedium{background:url(http://www.moo.com/images/orange_base_medium.png) no-repeat;position:relative;top:9px;
	padding-bottom:0px;}

/* lightly highlight */
.colourhighlight {background:#fcecd3;}

/* Picker */
#divDeletePicked.hover {background-color:#fcecd3;}

/* Cropper */
div.slider {background:url(http://www.moo.com/images/slider_orange.png);}
li.roatatecropper a{background: url(http://www.moo.com/images/rotate_orange.png) no-repeat 50% 10px;}
li.resetcropper a{background: url(http://www.moo.com/images/reset_orange.png) no-repeat 50% 10px;}
li.previewcropper a{background: url(http://www.moo.com/images/preview_orange.png) no-repeat 50% 10px;}
.warningmessage {background:#fcecd3; color:#333;}

/* Selected backgrounds and icons */
#divBackgroundPicker li.selected {border:solid 1px #ff6600; background:#ffedd2;}	
#ulIcons li.selected {border:solid 1px #ff6600; background:#ffedd2;}

/* highlight */
.highlight {background:#ffffcc; color: #333;}
.highlight strong {color:#dd3a2e}