/* image picker (studio) */

#divNoPhotos {text-align:center; font-size: 1.5em;margin-top:1.5em}
#divBrowser {position:relative;margin-top: 15px;height: 130px;}	

#ddlSetFilter, #ddlYearFilter, #fstAutoComplete { position:absolute; top:-8px; right:0; }
#ddlSetFilter, #ddlYearFilter, #txtTag, #txtGroupTag, #lblTag, #lbl_autocomplete { font-size:0.9em; }
#txtTag, #txtGroupTag {padding:0.2em 0.2em 0.1em 0.2em;}
#txtGroupTag { width: 100px; }
#btnResetTags { font-size:0.9em; } 
#lblTag { padding:0pt 0.2em; }

#fstPickedImages { display: none; }

#div_autocomplete_choices, #div_group {  position: absolute; top: 10px; right:10px; margin:0; padding: 0; word-wrap: break-word; white-space:normal; z-index: 9999 !important;}
#div_autocomplete_choices ul, #div_group ul { border: 1px solid #999; margin: 0; padding:0;}
#div_autocomplete_choices ul li, #div_group ul li { list-style-type: none; background-color: #FFF; margin: 0; padding: 0.2em 0.2em 0.1em; overflow:hidden;}
#div_autocomplete_choices ul li.selected, #div_group ul li.selected { background-color: #b8d7ff; cursor: pointer; color:#000; overflow:hidden;}
#div_autocomplete_choices ul li em, #div_group ul li em { font-style: normal; font-weight: bold;}
#div_autocomplete_choices, #div_autocomplete_choices ul, #div_group, #div_group ul { z-index: 999; width: 187px; }

#aResetGroupPhotos { position: relative; top: 0px; left: -10px; }
/* for IE z-index/positioning bug - this allows the autocomplete suggestions to sit over divBrowser  */
#fstAutoComplete { position: absolute; z-index: 2; right:0; top: -8px; }
/* IE 6/7 only! */
#ulBrowserControls, #divPickerBody  { z-index: -1; }
#lbl_autocomplete { position: relative; top: -2px;}
/* reset for other browsers: */
html>/**/body #ulBrowserControls, html>/**/body #divPickerBody { z-index: 0;} 
html>/**/body #lbl_autocomplete { position: relative; top: 0px; }
html>/**/body #txtTag {padding: 0.4em 0.2em 0.2em; font-size: 1em;}

#pCompHint{position:absolute; top:-12px; right:0; display:none;}

#divBrowserBody {border:solid 1px #c8c3c3; height:100px;position:relative;background: #f9f9f9;}
#divBrowserBody ul li img {margin:12px 3px 0; z-index:99; width:75px; height:75px;}
#divBrowserBody ul li.selected {height:85px; width:86px; border-left:double 3px #ddd;border-right:double 3px #ddd;}
#divBrowserBody ul li.selected img {width:75px; height:75px; margin:6px 6px 0 6px;}
#divScrollRight { position: absolute; bottom: 17px; right:5px; z-index: 9999; width: 40px; height:50px; display: none;}
#divScrollLeft { position: absolute; bottom: 20px; left:5px;  z-index: 9999; width: 40px; height:50px; display: none;}
#aScrollRight,  #aScrollLeft {width:40px;height:40px; background-position:0 0;position:absolute;}
#aScrollRight:hover,  #aScrollLeft:hover {background-position:0 -40px;}
#aScrollRight {position:absolute; right:0px; top:30px; background-image:url(/images/scrollright.png)}
#aScrollLeft {position:absolute; left:3px; top:30px; background-image:url(/images/scrollleft.png);}

#ulBrowserControls {margin-top:10px;padding-bottom: 10px;position:relative; height: 13px; width: 915px;}
#ulBrowserControls li {margin-right:1em;}
#ulBrowserControls li input.button {font-size:1.1em;position: relative; top: -5px;}
#ulBrowserControls #liPickerInfo {padding:7px;width: 145px; height: 13px; display: block!important;float: left;
	position: relative; top: -6px; color: #333; text-align: center;}
#ulBrowserControls #liPickedSave {position: absolute; right: -15px; top:1px;font-size:1.3em;}
#ulBrowserControls #liPickerInfo span {position: relative; top: -3px;}

#liSameImages {position:absolute;right: 8em;}

#divBrowserScroller {margin:5px auto; width:809px; height:80px; padding:4px 4px 4px 3px; overflow:hidden;position: relative;
	background: white; border: dotted 1px #ccc;}
#ulBrowserImages {height:95px; width:1000000px;position:relative; top: -10px;}
#ulBrowserImages li img {cursor: move;}
#pLoadingInfo, #pNoPhotos {position:absolute; top:24px; width:100%; text-align:center; display:none;}
#pLoadingInfo {font-size:0.8em;}

#divPickerBody {position: relative; color: #333;height: 1%;margin-top: 1em;}

#divPickedImages {float: left; width:810px; padding:3px; margin:0; background:#fafafa; border:solid 1px #c8c3c3; z-index:10; float: left;}
#divPickerBody.pack10 #divPickedImages {height:81px !important;}
#divPickerBody.pack20 #divPickedImages {height:162px !important;}
#divPickerBody.pack90 #divPickedImages {height:750px !important;}
#divPickerBody.pack50 #divPickedImages {height:420px !important;}
#divPickerBody.pack60 #divPickedImages {height:504px !important;}
#divPickerBody.pack100 #divPickedImages {height:834px !important;}

#divPickedImages li {margin: 3px; display: inline; /* IE fix */}
#divPickedImages img.picked {display:block; width: 75px; height: 75px; cursor: move;}
#divPickedImages div.readd {font-size:11px; position: absolute; top:2px; left: 0; width: 75px;padding: 2px;}
#divPickedImages div.readd select {width:40px;position: absolute; top:35px;left:16px;}

#pPickedHint {width:782px;padding-top:20px; position:absolute; margin:12px; text-align:center; border:dashed 2px #c8c3c3;font-size:1.1em;}
#divPickerBody.pack10 #pPickedHint {height:40px; padding-top: 12px;}
#divPickerBody.pack20 #pPickedHint {height:84px; padding-top: 50px;}
#divPickerBody.pack90 #pPickedHint {height:702px;}
#divPickerBody.pack50 #pPickedHint {height:372px;}
#divPickerBody.pack60 #pPickedHint {height:455px;}
#divPickerBody.pack100 #pPickedHint {height:786px;}

#divDeletePicked {background:white; float: right; top:0; width:85px; border:dashed 2px #c8c3c3; color:#808080; text-align:center; padding-top:60px; font-size: 0.8em; background: url(/images/bin.png) 28px 28px no-repeat;}
#divPickerBody.pack10 #divDeletePicked {height:25px;}
#divPickerBody.pack20 #divDeletePicked {height:106px;background-position: 28px 64px;}
#divPickerBody.pack50 #divDeletePicked {height:364px;}
#divPickerBody.pack60 #divDeletePicked {height:447px;}
#divPickerBody.pack90 #divDeletePicked {height:694px;}
#divPickerBody.pack100 #divDeletePicked {height:778px;}
#divDeletePicked.hover {background-color:#ffff89;}

/* Image magnifier */

#divMagnifyHolder { position: absolute; z-index: 10; }
#divMagnifyArrow { background: url(/images/arrow_20px.gif) 50% 0 no-repeat; height: 20px; }
#divMagnifyImage { padding: 8px; border-color: #808080; border-style: solid; border-width: 0 1px 1px 1px; background: #fff; }

/* Min-height on page container for magnifier */
#divPickerCont { min-height: 390px; height: auto !important; height: 390px; }

/* Star tab */
#aTab_Holidays {background-image:url(/images/tab_star.png) !important; background-repeat:no-repeat !important; padding-left:25px!important;}
#aTab_Holidays.selected {background-position:0 -30px !important;}

/* Importing images */
#divImport {display:none;}

/* Hide film strip when importing */
.disappear { visibility: hidden; position: absolute !important; left: -9999px !important; }
*html .disappear #divBrowserBody { display: none; } /* IE hack */
